.login-page {
  min-height: 100vh;
  background: linear-gradient(to right, #7ed5ea, #161f6d);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Login Card */
.login-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-card h2 {
  color: #161f6d;
  font-weight: bold;
  text-align: center;
}

.login-card .form-control {
  border: 2px solid #7ed5ea;
  border-radius: 50px;
  padding: 10px 20px;
}

.btn-login {
  background: linear-gradient(to right, #7ed5ea, #161f6d);
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  width: 100%;
  transition: all 0.3s;
  margin-top: 15px;
}

.btn-login:hover {
  transform: scale(1.05);
}

.login-card a {
  text-decoration: none;
  color: #161f6d;
}

.login-card a:hover {
  text-decoration: underline;
}
